.notFound {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFoundHeader {
  font-weight: normal;
  color: white;
  font-size: 50px;
  font-weight: 800;
  -webkit-text-stroke: 2px var(--wildDarkGreen);
  letter-spacing: 2px;
  margin-bottom: 1rem;
  z-index: 10;
}

.headerTagline, .headerTaglineTwo {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 0.25rem;
}

.homeLink {
  margin: 1rem;
  text-decoration: none;
}

.homeButton {
  padding: 0.75rem 1.5rem;
  background-color: var(--wildDarkGreen);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contactInfoContainer {
 text-align: center;
  padding: 10px;
}

.contactInfo {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.25rem;
}

.contactInfoValue a{
  color: #0070f3;
  text-decoration: none;
}

.contactInfoValue:hover {
  color: #0070f3;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .notFoundHeader, .headerTagline, .headerTaglineTwo {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .notFoundHeader {
    font-size: 2.5rem;
  }

  .headerTagline, .headerTaglineTwo {
    font-size: 1.1rem;
  }
}