.notFound {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notFoundHeader {
  font-weight: normal;
  color: white;
  font-size: 50px;
  font-weight: 800;
  -webkit-text-stroke: 2px var(--wildDarkGreen);
  letter-spacing: 2px;
  margin-bottom: 1rem;
  z-index: 10;
}

.headerTagline, .headerTaglineTwo {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 0.25rem;
}

.homeLink {
  text-decoration: none;
}

.homeButton {
  padding: 0.75rem 1.5rem;
  background-color: var(--wildDarkGreen);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contactInfoContainer {
 text-align: center;
  padding: 10px;
}

.contactInfo {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.25rem;
}

.contactInfoValue a{
  color: #0070f3;
  text-decoration: none;
}

.contactInfoValue:hover {
  color: #0070f3;
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .notFound {
    padding: 1rem;
  }

  .notFoundHeader {
    font-size: 2rem;
  }

  .headerTagline {
    font-size: 1.2rem;
  }

  .headerTaglineTwo {
    font-size: 1rem;
  }

  .homeButton {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .contactInfo {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .notFoundHeader {
    font-size: 1.8rem;
  }

  .headerTagline {
    font-size: 1.1rem;
  }

  .headerTaglineTwo {
    font-size: 0.9rem;
  }
}

.textContent {
  position: relative;
  z-index: 2;
  /* Add padding or margin as needed */
  padding: 10px;
}

.artContainer > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonSection > *,
.contactInfoContainer > * {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.contactInfoContainer > *:last-child {
  margin-bottom: 0;
}