.shopAbout {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.aboutUs {
  width: 400px;
  height: auto;
}

.aboutTagline {
  color: var(--wildBlack);
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  width: 80% 
}

.quickLinkSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quickLink {
  display: flex;
  justify-content: center;
  color: var(--wildDarkGreen);
  font-size: 24px;
  padding: 0.5rem;
  margin: 1rem;
  width: 240px;
  border: 2px solid var(--wildBlue);
}

.quickLink:hover {
  cursor: pointer;
  border: 2px solid var(--wildDarkGreen);
}

/*.shopImagesContainer {
  margin: 2rem 0rem 2cap 0rem;
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopImage {
  width: 500px;
  height: auto;
}*/

.aboutPhotoContainer {
  margin-top: 2rem;
}
.aboutPhoto {
  height: auto;
  width: 800px;
}

.firstParagraph {
  color: var(--wildBlack);
  padding-top: 1rem;
  max-width: 480px;
  text-align: center;
  margin-bottom: 1rem;
}

.shopHeader {
  color: var(--wildGreen);
  font-size: 48px;
  font-weight: normal;
  margin: 1rem 0rem 0rem 0rem;
  padding: 0rem;
  width: 480px;
  text-align: center;
}

.shopLogo {
  margin-top: 2rem;
  height: auto;
  width: 400px;
}

.unorderedList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem;
  padding: 0;
  width: 480px;
  border-bottom: 1px solid var(--wildGreen);
}

.missionItem {
  color: var(--wildDarkGreen);
  font-size: 24px;
  font-style: italic;
  padding: 0rem 1rem 1rem 1rem;
  margin-top: 1rem;
}

.shopMiddleParagraphs {
  color: var(--wildBlack);
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 480px;
}

.middleParagraph {
  margin: 1rem 0rem 1rem 0rem;
}

.shopParagraphs {
  color: var(--wildBlack);
  text-align: center;
  max-width: 480px;
  padding-top: 1rem;
  border-top: 1px solid var(--wildGreen);
}

.bottomParagraph,
.midParagraph {
  margin-top: 0rem;
}

.bottomParagraph {
  margin-bottom: 1rem;
}

.communitySection {
  display: flex;
  align-items: center;
}

#communityParagraph {
  margin-bottom: 2rem;
}

.dot {
  color: var(--wildDarkGreen);
  font-size: 32px;
}

@media (max-width: 586px) {
  #ourMission {
    scroll-margin-top: -100px; /* Adjust this based on your header height */
  }
  .quickLinkSection {
    flex-direction: column;
  }
  .quickLink {
    margin: 1rem 0rem 1rem 0rem;
  }
  .shopHeader, .quickLinkSection {
    text-align: center;
  }
  .unorderedList {
    justify-content: center;
  }
  .missionItem {
    font-size: 20px;
  }
  .dot {
    display: none;
  }
  .shopHeader, .aboutPhoto,.aboutTagline,
  .shopLinksContainer,
  .shopLogo,
  .shopLinks,
  .shopImage,
  .unorderedList, .header, .quickLink, .quickLinkSection {
    width: 100%;
  }
  .aboutUs {
    width: 80%;
  }
}
