.shopAbout {
  position: relative;
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.mainShopHeader {
  margin: 2rem 0rem 3rem 0rem;
  font-size: 30px;
  font-weight: normal;
  color: white;
  font-size: 50px;
  font-weight: 800;
  -webkit-text-stroke: 2px var(--wildDarkGreen);
  letter-spacing: 2px;
  z-index: 10;
}

.shopImagesContainer {
  margin: 1rem;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopImage {
  max-width: 480px;
  border-radius: 8px;
}

.shopImagesContainer.fade-out {
  opacity: 0;
}

.shopIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shopIcon {
  font-size: 40px;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.shopIcon:visited,
.shopIcon:link {
  color: var(--wildGreen);
}

.firstParagraph {
  border-top: 1px solid var(--wildGreen);
  color: var(--wildBlack);
  padding-top: 1rem;
  max-width: 480px;
  text-align: center;
}

.shopHeader {
  color: var(--wildGreen);
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--wildGreen);
  margin: 2rem 0rem 1rem 0rem;
}

.ourMission {
  border-bottom: none;
  margin-bottom: 0rem;
}

.unorderedList {
  display: flex;
  flex-direction: row;
  margin: 0rem;
  padding: 0;
  list-style-type: none;
}

.missionItem {
  color: var(--wildBlack);
  font-size: 18px;
  font-style: italic;
  padding: 0rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

.shopMiddleParagraphs {
  color: var(--wildBlack);
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 480px;
}

.middleParagraph {
  margin: 1rem 0rem 1rem 0rem;
}

.shopParagraphs {
  color: var(--wildBlack);
  text-align: center;
  max-width: 480px;
}

.bottomParagraph,
.midParagraph {
  margin-top: 0rem;
}

.bottomParagraph {
  margin-bottom: 0rem;
}

.shopLinksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.shopLinks {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  border-radius: 5px;
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.shopLinks:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .shopLinksContainer,
  .shopLinks,
  .shopImages {
    width: 100%;
  }
  .shopLinks {
    background-color: var(--wildGold);
  }
}
