.afterCare {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.afterHeader {
  font-size: 30px;
  font-weight: normal;
}

.afterTagline {
  color: var(--wildBlack);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--wildGreen);
}

.aftercaresContainer {
  display: flex;
  flex-direction: column;
}

.careContainer,
.careContainerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--wildGreen);
}

.careContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
}

.careContainerBottom {
  border-bottom: none;
}

.instructions {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: var(--wildBlack);
  margin-right: 0.5rem;
}

.iconButton,
.popUpButton {
  color: var(--wildBlack);
  display: flex;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: var(--wildGoldTrans);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#popUpButton {
  background-color: var(--wildGold);
}

.iconButton:hover {
  background-color: var(--wildGold);
}

.popUpButton {
  font-size: 20px;
  padding: 5px;
}

@media (max-width: 586px) {
  .afterTagline {
    text-align: center;
  }
  .careContainer {
    text-align: left;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--wildGreen);
  }

  .instructions {
    font-size: 20px;
    text-wrap: wrap;
    padding-bottom: 1rem 0rem 1rem 0rem;
  }
  .popUpContent {
    border-radius: 0px;
  }
}
