.afterCare {
  position: relative;
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.afterHeader {
  width: 480px;
  height: auto;
}

.afterTagline {
  color: var(--wildBlack);
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem; 
  width: 450px; 
}

.careContainer,
.careContainerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.careContainer {
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid var(--wildBlue);
  width: 480px;
}

.careContainer:hover {
  cursor: pointer;
  border: 2px solid var(--wildDarkGreen)
}

.careContainerBottom {
  border-bottom: none;
}

.instructions {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: var(--wildDarkGreen);
  margin-right: 0.5rem;
}

.aftercaresContainer {
  display: flex;
  flex-direction: column;
}

.iconButton {
  color: var(--wildBlack);
  display: flex;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: var(--wildGoldTrans);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.iconButton:hover {
  background-color: var(--wildGold);
}

.aftercareLinksContainer {
  display: flex;
  flex-direction: column;
}

.aftercareLinks {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.aftercareLinks:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .afterTagline {
    text-align: center;
  }
  .careContainer {
    text-align: left;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .instructions {
    font-size: 22px;
    text-wrap: wrap;
    padding-bottom: 1rem 0rem 1rem 0rem;
  }
  .afterTagline, .aftercareLinksContainer,
  .aftercareLinks {
    width: 100%;
  }
  .afterHeader {
    width: 95%;
  }
  .aftercareLinks {
    background-color: var(--wildGold);
  }
}
