.contact {
  position: relative;
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  width: 480px;
}

.contactHeader {
  color: var(--wildGreen);
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0rem;
  text-align: center;
}

.contactTagHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 3rem 0rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

.headerTagline,
.headerTaglineTwo {
  color: var(--wildBlack);
  font-weight: normal;
  padding-bottom: 0rem;
}

.headerTagline {
  font-size: 20px;
}

.reviewLink {
  font-size: 20px;
  color: var(--wildBlack);
  text-decoration: none;
  font-weight: bolder;
  padding: 0.2rem;
}

.shopLogo {
  height: auto;
  width: 400px;
}

@media (max-width: 586px) {
  .contactHeader {
    font-size: 36px;
  }
  .contactButtonSection,
  .shopLogo {
    width: 100%;
  }
  .contactButtons {
    padding: 0.5rem;
    width: 100%;
  }
  #contactInfoContainer {
    margin: 1rem;
  }
  .headerTagline {
    margin-bottom: 1rem;
  }
  .headerTagline,
  .headerTaglineTwo {
    text-align: center;
  }
  .header {
    width: 100%;
  }
}

/* RequestSent.jsx */

#requestSent {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#requestSentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--wildGreen);
  margin-bottom: 1rem;
}

#requestSentMessage {
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
  margin-bottom: 1rem;
}

.requestMessage {
  color: var(--wildBlack);
  padding-bottom: 1rem;
}

#requestMessageTop {
  border-bottom: none;
  margin-bottom: 0rem;
}

.messageTag {
  color: var(--wildBlack);
}

#messageTagBottom {
  font-weight: bold;
  padding-bottom: 1rem;
}

#returnLink {
  text-decoration: none;
}

#returnHome {
  margin: 1rem;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildGreen);
  border: 2px solid var(--wildGreen);
}

@media (max-width: 586px) {
  #requestSent {
    margin: 1rem;
    text-align: center;
  }
}
