.contact {
  position: relative;
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  margin: 2rem 0rem 3rem 0rem;
  font-size: 30px;
  font-weight: normal;
  color: white;
  font-size: 49px;
  font-weight:800;
  -webkit-text-stroke: 2px var(--wildDarkGreen);
  letter-spacing: 2px;
  z-index: 10;
}

.contactHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
  border-bottom: 1px solid var(--wildGreen);
}

.headerTagline,
.headerTaglineTwo {
  color: var(--wildBlack);
  font-weight: normal;
  padding-bottom: 0.5rem;
}

.headerTagline {
  font-size: 20px;
}

.reviewLink {
  font-size: 20px;
  color: var(--wildBlack);
  text-decoration: none;
  font-weight: bolder;
  padding: 0.2rem;
}

.contactButtonSection {
  margin: 1rem;
}

.contactLink {
  text-decoration: none;
}

.contactButtons {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: normal;
  background-color: var(--wildDarkGreen);
  padding: .5rem;
  width: 400px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.contactInfoContainer {
  border-top: 1px solid var(--wildGreen);
}

.contactInfo {
  color: var(--wildBlack);
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}

.contactInfo a:link,
.contactInfo a:visited {
  color: var(--wildBlack);
  margin: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--wildGreen);
}

.contactInfoValue {
  margin-left: 1rem;
}

#address {
  margin: 0rem;
  text-align: center;
}

.hoursContainer {
  display: flex;
  flex-direction: row;
}

#hour {
  margin: 0rem 1rem 0rem 1rem;
}

.hours {
  display: flex;
  flex-direction: column;
}

.times {
  color: var(--wildBlack);
  margin: 0rem 1rem 0rem 1rem;
}

#timesTop {
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
  border-bottom: 1px solid var(--wildGreen);
}

#phone {
  margin-left: 1rem;
}

#email {
  margin-left: 1.5rem;
}

@media (max-width: 586px) {
  #contactHeader {
    margin: 1rem;
    text-align: center;
  }
  .contactButtonSection {
    width: 100%;
  }
  .contactButtons {
    padding: .5rem;
    width: 100%;
  }
  #contactInfoContainer {
    margin: 1rem;
  }
  .headerTagline {
    margin-bottom: 1rem;
  }
  .headerTagline,
  .headerTaglineTwo {
    text-align: center;
  }
}


/* RequestSent.jsx */

#requestSent {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#requestSentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--wildGreen);
  margin-bottom: 1rem;
}

#requestSentMessage {
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
  margin-bottom: 1rem;
}

.requestMessage {
  color: var(--wildBlack);
  padding-bottom: 1rem;
}

#requestMessageTop {
  border-bottom: none;
  margin-bottom: 0rem;
}

.messageTag {
  color: var(--wildBlack);
}

#messageTagBottom {
  font-weight: bold;
  padding-bottom: 1rem;
}

#returnLink {
  text-decoration: none;
}

#returnHome {
  margin: 1rem;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildGreen);
  border-radius: 5px;
  border: 2px solid var(--wildGreen);
}

@media (max-width: 586px) {
  #requestSent {
    margin: 1rem;
    text-align: center;
  }
}
