.label {
  font-size: 16px;
  color: var(--wildBlack);
  font-weight: bold;
}

.error {
  display: inline-block;
  background-color: var(--wildGold);
  border-radius: 5px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: normal;
}

.selectTimeContainer {
  display: flex;
  align-items: center;
}

.timeForm {
  border: solid 1px var(--wildBlack);
  background-color: rgb(240, 236, 236);
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  border-radius: 5px;
}

.addTime {
  color: var(--wildBlack);
  margin-left: 0.2rem;
}

.addMoreButton,
.removeButton {
  display: flex;
  align-items: center;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  padding: 0.4rem;
  border-radius: 5px;
  margin-left: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.removeButton {
  padding: 5px;
  margin-left: 0.5rem;
}

.addMoreButton:hover,
.removeButton:hover {
  background-color: var(--wildGold);
}

.addSymbol {
  font-size: 20px;
}

.selectedTimesContainer {
  display: flex;
  flex-wrap: wrap;
}

.timeEntry {
  font-size: 16px;
  color: var(--wildBlack);
  display: flex;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

@media (max-width: 586px) {
  .addMoreButton,
  .removeButton {
    background-color: var(--wildGold);
  }
}
