/* DateTimeField.jsx */

.selectTimeContainer {
  display: flex;
  align-items: center;
}

.label {
  color: var(--wildBlack);
  font-weight: bold;
}

.error {
  display: inline-block;
  background-color:var(--wildGold);
  border-radius: 5px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: normal;
}

.timeForm {
  border: solid 1px var(--wildBlack);
 background-color: rgb(240, 236, 236);
  margin: 0.5rem .5rem 0.5rem 0rem;
 
 padding: .5rem 0rem .5rem 0rem;
  border-radius: 5px;
}



.addTime {
  color: var(--wildBlack);
  margin-left: .5rem;

}

.addMoreButton {
  display: flex;
  align-items: center;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  
 
  padding: 0.4rem;
  border-radius: 5px;
  margin-left: .5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addMoreButton:hover {
  background-color: var(--wildGold);
}

.addSymbol {
  font-size: 20px;
}

.selectedTimesContainer {
  display: flex;
  flex-wrap: wrap;
}

.timeEntry {
  color: var(--wildBlack);
  display: flex;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.removeButton {
  color: var(--wildBlack);
  display: flex;
  border-radius: 5px;
 
  background-color: var(--wildGoldTrans);
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease;
}

.removeButton:hover {
  background-color: var(--wildGold);
}

@media (max-width: 586px) {
  .requestContact {
    margin: 0rem 1rem 1rem 1rem;
  }
  .requestHeader {
    text-align: center;
    padding-bottom: 1rem;
  }
  .contactForm,
  .tattooSizeForm,
  .tattooLocation,
  .tattooSizeOption {
    width: 100%;
  }
  .tattooSizeContainer {
    width: 100%;
  }
  .addMoreButton {
    background-color: var(--wildGold);
  }
}
