#faqs,
#questions {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.headerFaqs {
  font-size: 30px;
  font-weight: normal;
}

.faqTagline {
  color: var(--wildBlack);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--wildGreen);
}

.faqContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.faq {
  color: var(--wildBlack);
  font-weight: normal;
  margin-right: 1rem;
  border-bottom: solid 1px var(--wildGreen);
}

#iconButton {
  color: var(--wildBlack);
  display: flex;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: var(--wildGoldTrans);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#iconButton:hover {
  background-color: var(--wildGold);
}

.faqLinksContainer {
  display: flex;
  flex-direction: column;
}

.faqLinks {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  border-radius: 5px;
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.faqLinks:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  #faqs {
    text-align: center;
    justify-content: left;
  }
  #questions {
    margin-top: 0;
    align-items: center;
  }
  .faqContainer {
    text-align: left;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px var(--wildGreen);
  }
  .faq {
    font-size: 20px;
    border-bottom: 0;
  }
  .popUpContent {
    border-radius: 0px;
  }
  .faqLinksContainer,
  .faqLinks {
    width: 100%;
  }
  .faqLinks {
    background-color: var(--wildGold);
  }
}
