.contactForm {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding-bottom: 1rem;
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: var(--wildBlack);
}

.attachMessage {
  margin: .5rem 0rem .5rem 0rem;
  padding: .5rem;
  font-weight: normal;
  border: 1px solid var(--wildBlack);
  border-radius: 5px;
}

.form,
.messageForm,
.formSubmit {
  font-size: 16px;
  border: 1px solid var(--wildBlack);
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 480px;
}

.messageForm {
  height: 100px;
  padding: 0.5rem;
  margin-bottom: 0;
}

.formSectionContainer {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

#attachFile {
  display: flex;
  flex-direction: column;
}

#file {
  font-size: 16px;
  color: var(--wildBlack);
  border: none;
  padding: 0.25rem 0rem 0rem 0rem;
}

.required {
  font-size: 12px;
  margin-bottom: 1rem;
}

.formSubmit {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: normal;
  background-color: var(--wildDarkGreen);
  padding: 0.5rem;
  width: 480px;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.error {
  display: inline-block;
  background-color: var(--wildGold);
  border-radius: 5px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.errorBottom {
  color: var(--wildBlack);
  font-weight: bold;
}

@media (max-width: 586px) {
  .requestContact {
    margin: 0rem 1rem 1rem 1rem;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's width and height */
  }
  .requestHeader {
    text-align: center;
    padding-bottom: 1rem;
  }
  .contactForm {
    width: 100%;
  }
  .messageForm,
  .formSubmit,
  .form,
  .contactForm {
    width: 100%;
    padding: 0.5rem;
  }
  .formSectionContainer {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--wildGreen);
    width: 100%;
  }
  #file {
    border: 1px solid var(--wildBlack)
  }
}
