.contactForm {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding-bottom: 1rem;
}

.label {
  font-weight: bold;
  color: var(--wildBlack);
}
.form,
.messageForm,
.formSubmit {
  border: 1px solid var(--wildBlack);
  border-radius: 4px;
  padding: .5rem;
  margin-bottom: 1rem;
  width: 480px;
}

.tattooSizeForm,
.tattooSizeContainer {
  width: 480px;
}

.formSectionContainer {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

#attachFile,
.tattooSizeContainer {
  display: flex;
  flex-direction: column;
}

#file {
  color: var(--wildBlack);
  border: none;
  padding: 0.25rem 0rem 0rem 0rem;
}

.messageForm {
  height: 100px;
  padding: 0.5rem;
  margin-bottom: 0;
}

.required {
  font-size: 12px;
  margin-bottom: 1rem;
}

.formSubmit {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: normal;
  background-color: var(--wildDarkGreen);
  padding: .5rem;
  width: 480px;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.error {
  display: inline-block;
  background-color: var(--wildGold);
  border-radius: 5px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.errorBottom {
  color: var(--wildBlack);
  font-weight: bold;
}

@media (max-width: 586px) {
  .requestContact {
    margin: 0rem 1rem 1rem 1rem;
  }
  .requestHeader {
    text-align: center;
    padding-bottom: 1rem;
  }

  .messageForm,
  .formSubmit,
  .form,
  .contactForm,
  .tattooSizeForm,
  .tattooSizeOption {
    width: 100%;
  }
  .tattooSizeContainer {
    width: 100%;
  }
}
