.giftCards {
  position: relative;
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 3rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.giftCardHeader {
  width: 480px;
  height: auto;
}

@media (max-width: 586px) {
  .header, .giftCardHeader {
    width: 100%;
  }
}
