.giftCards {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 3rem 1rem;
  }
  
  .giftCardHeader {
    font-size: 30px;
    font-weight: normal;
    border-bottom: 1px solid var(--wildGreen);
    margin-bottom: 1rem;
  }