
.artOneElementOne {
  position: absolute;
  margin: 1rem 0rem 1rem 13.5rem;
  height: 120px;
  width: 120px;
  background-color: var(--wildBlue);
  padding: 1rem;
  transform: rotate(10deg); 
  box-shadow: -.5vw 0.5vw 1vw 0.1vw rgba(56, 70, 28, 0.5); 
  z-index: 8;
}

.line {
  position: absolute;
  margin: 5rem 0rem 0rem 24rem;
  height: 400px; 
  width: 5px; 
  border-radius: 0.8vw; 
  z-index: 7;
  transform: rotate(80deg);
  transform-origin: top left;
  background-color: var(--wildGold);
  box-shadow: 0.3vw 0.05vw 0.1vw 0.1vw var(--wildGreen);
}

.dotRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dot {
  width: 5px; 
  height: 5px;
  border-radius: 50%;
  background-color: rgba(101, 193, 220, 0.5);
}

@media (max-width: 586px) {
  .artOneElementOne {
    margin-right: 4rem;
  }
  .line {
    margin-top: 5rem;
    margin-left: 22rem;
    height: 350px;
  }
}


