.home {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
  position: relative; /* Make sure this is relative so that absolute positioning works correctly */
}

.circle {
  position: absolute;
  top: 13%;
  left: 34%;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  z-index: 100;
  background-color: var(--wildGold);
  border: 2px solid rgba(56, 70, 28, .9);
  box-shadow: -10px 5px 1px 1px rgba(56, 70, 28, 1);
  background: linear-gradient(45deg, var(--wildGold), #e591d4);
}

.line {
  position: absolute;
  top: 3.5%;
  left: 70%;
  height: 350px;
  width: 10px;
  border-radius: 8px;
  z-index: 100;
  transform: rotate(16deg); /* Rotate the line by 45 degrees */
  transform-origin: top left; /* Set the origin point for the transformation */
  background-color: var(--wildGold);
  box-shadow: 5px 1px 1px 1px rgba(56, 70, 28, 0.7);
}

.artContainer {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  height: 800px;
  width: 800px;
}

.artOne, .artTwo, .artThree {
  display: flex;
  flex-direction: column;
}

.artThreeSub {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

/*.artOneElementTwo,
.artTwoElementOne, .artTwoElementTwo {
  height: 400px;
  width: 265px;
  background-color: var(--wildGold);
}*/

.pineapple {
position: absolute;
  width: 130px;
  height: auto;
  top: 1.9%;
  left: 26%;
  transform: rotate(-5deg); /* Rotate the line by 45 degrees */
  transform-origin: top left; /* Set the origin point for the transformation */
  filter: drop-shadow(-.5rem .5rem 0.50rem rgba(56, 70, 28, .9));
  z-index: 10;
}

.artOneElementOne {
  
  margin-top: 4rem;
  margin-left: 2rem;
  height: 200px;
  width: 200px;
  background-color:var(--wildBlue);
  padding: 1rem;
  /*margin-bottom: 1.5rem;*/
  transform: rotate(-10deg); /* Rotate the line by 45 degrees */
  box-shadow: -12px 9px 10px 1px rgba(56, 70, 28, .5);
}

.dotRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
 
  background-color:  rgb(101, 193, 220, 0.5);
}

.checkContainer {
  
 

  border-bottom: 3px solid rgba(56, 70, 28, .9);
  background: rgb(223, 223, 139);
}
.checkbox {
  display: flex;
  flex-direction: row;
}

.checker {
  width: 53.5px;
  height: 53px;
  background-color: rgba(56, 70, 28, .6);
}

#white {
  background-color: transparent;
}

 .artTwoElementTwo {
  background-color: var(--wildGreen);
}

.artTwoElementOne {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 150px;
  border-top-right-radius:150px;
  border-top: 20px solid var(--wildGold);
  border-left: 20px solid var(--wildGold);
  border-right: 20px solid var(--wildGold);
  /*background: radial-gradient(#e66465, #9198e5);*/
  background-color: white;
  height: 500px;
  width: 300px;
}


.copy {
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 40px;
  word-wrap: break-word;
  line-height: 1.5;
  max-width: 100%;
  text-align: center;
}

.artTwoElementTwo {
  height: 120px;
  width: 300px;
}



.artThreeElementOne, .artThreeElementTwo {
  height: 200px;
  width: 265px;
  background-color: var(--wildGoldTrans);
}

.artThreeElementTwo {
  height: 165px;
  width:264px;
}

.artThreeElementOne {
  width: 110px;
  height: 110px;
  border-radius: 100px;
  margin: 3rem;
  margin-left: 4.5rem;
  background: linear-gradient(var(--wildGreen), rgb(209, 238, 150));
}

.artThreeElementTwo {
  background-color: rgb(28, 234, 234);
}
.gridContainer {
  display: flex;
  flex-direction: row;
}

.grid {
  border: 1px solid var(--wildBlue);
  width: 33px;
  height: 33px;
}



.artThreeSubElementOne, .artThreeSubElementTwo {
  height: 400px;
  width: 132.5px;
  background-color: var(--wildBlue);
}

.artThreeSubElementOne {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 50px;
}

.artThreeSubElementTwo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.halfCircle {
  background-color: var(--wildBlue);
  height: 80px;
  width: 80px;
  box-shadow: -10px 10px 10px 1px rgba(56, 70, 28, .5);
  
  border-top-right-radius: 100px;
  /*border-bottom-right-radius: 100px;*/
}



.headerHome {
  font-size: 30px;
  font-weight: normal;
}

.shopPhoto {
  max-width: 800px;
  height: auto;
  border-radius: 8px;
  margin: 1rem 0rem 2rem 0rem;
}

.headerTwo {
  font-size: 30px;
  font-weight: normal;
  border-bottom: 1px solid var(--wildGreen);
  margin: 1rem 0rem 1rem 0rem;
}

.listItem {
  list-style-type: none;
}

.comEngagement,
.tattooServices,
.whyChoose,
.homeReview {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 0.5rem;
}

.whyChoose {
  text-align: justify;
}

.headerThree {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.checkmark {
  font-size: 20px;
  color: var(--wildBlack);
  margin-right: 0.5rem;
}

.homeParagraph {
  color: var(--wildBlack);
  margin: 0.25rem 1rem 1rem 1rem;
  max-width: 480px;
}

.contactParagraph {
  display: none;
}

.contactHomeButton {
  display: none;
  background-color: var(--wildDarkGreen);
  padding: 0.5rem;
  border-radius: 5px;
}

.linkContactHeader {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.homeParagraphReview {
  color: var(--wildBlack);
  font-style: italic;
  text-align: center;
}

.reviewerName {
  color: var(--wildBlack);
  text-align: left;
  font-weight: normal;
}

.ratingSection {
  color: var(--wildGreen);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--wildGreen);
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.rating {
  margin-right: 0.5rem;
}

.stars {
  display: flex;
  align-items: center;
  color: var(--wildGreen);
}

.homeReview {
  margin-bottom: 1rem;
}

.homeLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeLink {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  border-radius: 5px;
  width: 300px;
  transition: background-color 0.3s ease;
}

.homeLink:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .shopPhoto {
    width: 100%;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactHomeButton {
    margin: 1rem;
    width: 100%;
    display: block;
  }
  .contactParagraph {
    color: black;
    display: block;
  }
  .contactParagraphBottom {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--wildGreen);
  }
  .headerTwo {
    padding-bottom: 1rem;
  }
  .homeLink {
    width: 100%;
    background-color: var(--wildGold);
  }
  .artContainer {
    flex-direction: column;
    margin: 0rem;
    height: auto;
    width: 100%;
  }
  .artOne, .artTwo, .artThree {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .artOneElementOne {
    margin-top: 1rem;
  }
  .checkContainer {
    width: 260px;
    margin-left: 4.5rem;
  }

  .line {
    top: 3%;
    left: 90%;
  }
  .artThree {
    display: none;
  }
}
