.home {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
  position: relative; 
}

.homePhotoContainer {
  display: flex;
  justify-content: center;
}

.walkinsLink {
  text-decoration: none;
  margin-bottom: 2rem;
  width: 700px;
  padding: .5rem;
}

.welcome {
  font-size: 46px;
  color: var(--wildGreen);
  font-weight: bold;
  letter-spacing: 1px;
}

.welcomeTag {
  font-size: 20px;
  font-weight: bold;
  color: var(--wildBlack);
  margin-bottom: 2rem;
}

.phone {
  color: var(--wildBlack)
}

.welcomeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
}

.welcomeHeader {
  color: white;
  font-size: 18px;
  padding: .8rem;
  width: 300px;
  background-color: var(--wildDarkGreen);
  transition: background-color 0.3s ease;
}

.shopLogo {
  height: auto;
  width: 800px;
}

.mainHeader {
  color: var(--wildGreen);
  font-size: 40px;
  font-weight: normal;
  margin: 1rem 0rem 0rem 0rem;
}

.homePhotoContainer {
  margin: 2rem 0rem .5rem 0rem;
}
.homePhoto {
  height: auto;
  width: 800px;
}

#introParagraph {
  margin-top: 1rem;
}

.headerTwo {
  color: var(--wildGreen);
  font-size: 40px;
  font-weight: normal;
  margin: 1rem 0rem 0rem 0rem;
  padding: 1rem;
  width: 480px;
}

#headerTwo {
  font-size: 32px;
  border-bottom: none;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.listItem {
  list-style-type: none;
}

.comEngagement,
.tattooServices,
.whyChoose,
.homeReview {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--wildBlue);
  padding: 1rem;
  margin: 0.5rem;
}

.whyChoose {
  text-align: justify;
}

.headerThree {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.checkmark {
  font-size: 20px;
  color: var(--wildBlack);
  margin-right: 0.5rem;
}

.homeParagraph {
  color: var(--wildBlack);
  margin: 0.25rem 1rem 1rem 1rem;
  max-width: 480px;
}

.homeParagraphReview {
  color: var(--wildBlack);
  font-style: italic;
  text-align: center;
}

.reviewerName {
  color: var(--wildBlack);
  text-align: left;
  font-weight: normal;
}

.ratingSection {
  color: var(--wildGreen);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--wildGreen);
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.rating {
  margin-right: 0.5rem;
}

.stars {
  display: flex;
  align-items: center;
  color: var(--wildGreen);
}

.homeReview {
  margin-bottom: 1rem;
}

.homeLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeLink {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.homeLink:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
 .welcome {
  font-size: 34px;
  margin: .5rem 0rem 1rem 0rem;
  padding: .3rem;
 }
 .walkinsLink {
  margin-bottom: 1rem;
}
 .shopLogo, .walkinsLink {
  width: 100%
 }
 .mainHeader {
  font-size: 30px;
  margin-top: 0rem;
 }
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactParagraphBottom {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--wildGreen);
  }
  .homePhoto {
    height: auto;
    width: 100%;
  }
  .headerTwo {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: .5rem;
  }
  .homeLink {
    width: 100%;
    background-color: var(--wildGold);
  }
}
