.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--wildGreen);
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  width: 480px;
}

.mediaHeader {
  color: var(--wildGreen);
  font-size: 48px;
  font-weight: normal;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0rem;
  width: 480px;
  text-align: center;
}

.mediaHeaderTag {
  color: var(--wildBlack);
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 0rem 1rem 0rem 1rem;
}

#mediaHeaderTagBottom {
  margin-top: 1rem;
}

.mediaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

.targetText {
  color: var(--wildGreen);
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.mediaContainerBottom {
  border-bottom: none;
}

.video {
  border-radius: 8px;
  margin-bottom: 2rem;
}

#videoBottom {
  margin-bottom: 1rem;
}

.atBayPhoto {
  border-radius: 8px;
  width:100%;
  max-width: 560px;
  height: auto;
  margin-bottom: 1rem;
}

.mediaLinksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mediaLinks {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  border-radius: 5px;
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.mediaLinks:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .video,
  .atBayPhoto,
  .mediaLinksContainer,
  .mediaLinks, .media {
    width: 100%;
  }
  .mediaLinks {
    background-color: var(--wildGold);
  }
  .header {
    width: 100%;
  }
}
