.tattoos {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.artistHeader {
  width: 550px;
  height: auto;
}

.artistAboutHeader {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: var(--wildBlack);
  margin-bottom: 0.5rem;
}

.artistAbout {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  color: var(--wildBlack);
  max-width: 480px;
}

.artistIgIcon {
  font-size: 30px;
}

.artistIgIcon:visited,
.artistIgIcon:link {
  color: var(--wildGreen);
}

.tattooSection {
  margin: 1rem 10rem 2rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tattooSlide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
  color: var(--wildGreen);
  background-color: white;
  border-radius: 50px;
  font-size: 40px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.mercedesTattoo {
  max-height: 400px;
  width: auto;
}

.mercedesGallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.mercedesGallery img {
  margin: 0rem 0.1rem 0.1rem 0.1rem;
  max-width: 100%;
  height: 100px;
  width: auto;
}

.indicator {
  padding: 0.3rem;
  cursor: pointer;
}

.indicator:hover {
  border: 2px solid var(--wildGreen);
}

.tattooLinksContainer {
  display: flex;
  flex-direction: column;
}

.tattooLinks {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.tattooLinks:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 1380px) {

  .tattooSection {
    margin: 1rem 0rem 2rem 0rem;
  }
  .mercedesTattoo {
    width: 300px;
    height: auto;
  }
  .arrow {
    color: white;
    background-color: var(--wildDarkGreen);
    border-radius: 50px;
    margin: -3.5rem 0.5rem 0rem 0.5rem;
    z-index: 10;
  }
  .mercedesGallery {
    display: none;
  }
}
@media (max-width: 800px) {
  .artistAbout {
    margin-top: 1rem;
  }
}
@media (max-width: 400px) {
  .header,
  .artistHeader,
  .mercedesTattoo,
  .tattooLinksContainer,
  .tattooLinks {
    width: 100%;
  }
  .tattooLinks {
    background-color: var(--wildGold);
  }
  .artistAbout {
    margin-top: 0rem;
  }
}
