.releaseforms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--wildGreen);
  align-items: center;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  width: 580px;
}

.releaseformsHeader {
  color: var(--wildGreen);
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0rem;
  text-align: center;
}

.releaseformsTagline {
  color: var(--wildBlack);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--wildGreen);
}

.releaseContent {
  color: var(--wildBlack);
  line-height: 2rem;
  width: 780px;
  margin-bottom: 1rem;
}

.tattooSizeContainer {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.label {
  font-size: 16px;;
  font-weight: bold;
  color: var(--wildBlack);
}

.error {
  display: inline-block;
  background-color: var(--wildGold);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.form {
  font-size: 16px;
  border: 1px solid var(--wildBlack);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#clientName {
  margin: 0rem 1rem 0rem 1rem;
}

.selectedRiskContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-bottom: 1rem;
}

#riskForm {
  width: 100%;
  margin-bottom: 0rem;
}

.addRisk {
  color: var(--wildBlack);
  margin-left: 0.5rem;
}

.addMoreButton,
.removeButton {
  display: flex;
  align-items: center;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  padding: 0.4rem;
  margin-left: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.removeButton {
  padding: 5px;
  margin-left: 0.5rem;
}

.addMoreButton:hover,
.removeButton:hover {
  background-color: var(--wildGold);
}

.addSymbol {
  font-size: 20px;
}

.selectedRisksContainer {
  display: flex;
  flex-wrap: wrap;
}

.riskEntry {
  font-size: 16px;
  color: var(--wildBlack);
  display: flex;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid lightgrey;
}



#attachFile {
  display: flex;
  flex-direction: column;
}

#file {
  font-size: 16px;
  color: var(--wildBlack);
  border: none;
  padding: 0.25rem 0rem 0rem 0rem;
}

.artistLink {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.artistLink {
  text-decoration: none;
}

.artistLink:visited {
  color: var(--wildBlack);
  background-color: var(--wildGold);
}

.artistLink:hover,
.artistList:hover {
  background-color: var(--wildGold);
}

@media (max-width: 586px) {
  .header {
    width: 100%;
  }
  .selectedRiskContainer {
    width: 100%;
    flex-wrap: wrap;
  }
  .releaseformsHeader {
    line-height: 3.5rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .releaseContent {
    width: 100%;
  }
  .tattooSizeContainer {
    width: 100%;
  }
  #riskForm {
    margin-bottom: .5rem;
  }
  .artistLink,
  .artistList {
    width: 100%;
    background-color: var(--wildGold);
  }
}
