.requestSent,
.requestSentContainer {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.requestSentContainer {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.requestSentMessage {
  color: var(--wildGreen);
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 1rem;
  padding: 0rem;
  text-align: center;
}

.requestMessage {
  color: var(--wildBlack);
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 1rem;
}

.messageTag {
  margin: 0rem;
  font-weight: normal;
  color: var(--wildBlack);
}

.messageTagBottom {
  font-weight: bold;
  padding-bottom: 1rem;
}

.returnHome {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.returnHome:hover {
  background-color: var(--wildGold);
}

.returnHomeHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .requestSentMessage {
    font-size: 36px;
  }
  .requestSent {
    text-align: center;
  }
  .returnHome,
  .returnHomeHeader {
    width: 100%;
  }
  .returnHome {
    background-color: var(--wildGold);
  }
}
