/* RequestSent.jsx */


.requestSent {
    color: var(--wildGreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .requestSentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--wildGreen);
    margin-bottom: 1rem;
  }
  
  .requestSentMessage {
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--wildGreen);
    margin-bottom: 1rem;
  }
  
  .requestMessage {
    color: black;
    padding-bottom: 1rem;
  }
  
  .requestMessageTop {
    border-bottom: none;
    margin-bottom: 0rem;
  }
  
  .messageTag {
    margin: 0rem;
    font-weight: normal;
    color: black;
  }
  
  .messageTagBottom {
    font-weight: normal;
    padding-bottom: 1rem;
  }
  
  .returnLink {
    text-decoration: none;
  }
  
  .returnHome {
    margin: 1rem;
    padding: 0.1rem 0.5rem 0.2rem 0.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--wildGreen);
    border-radius: 5px;
    border: 2px solid var(--wildGreen);
  }
  
  @media (max-width: 586px) {
    .requestSent {
      margin: 1rem;
      text-align: center;
    }
  }