/* RequestAppt.jsx */

.requestContact {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.requestHeader {
  margin: 2rem 0rem 4.5rem 0rem;
  font-weight: normal;
  color: white;
  font-size: 40px;
  font-weight: 800;
  -webkit-text-stroke: 2px var(--wildDarkGreen);
  letter-spacing: 2px;
  z-index: 10;
}

.requestContact {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

@media (max-width: 586px){
  .header {
    width: 100%;
  }
  .requestHeader {
    line-height: 3rem;
    margin-top: .5rem;
    margin-bottom: 3.5rem;
  }
}


