.reviewPage {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

.reviewHeader {
  font-size: 30px;
  font-weight: normal;
}

.reviewTag {
  color: var(--wildBlack);
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 0.5rem;
  margin: 0rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  max-width: 480px;
}

.review {
  color: var(--wildBlack);
  margin: 0.5rem 0rem 1rem 0rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 8px;
  list-style-type: none;
}

.name {
  font-weight: normal;
}

.ratingSection {
  color: var(--wildGreen);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--wildGreen);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.rating {
  margin-right: 0.5rem;
}

.stars {
  display: flex;
  align-items: center;
  color: var(--wildGreen);
}

.clientReview {
  font-style: italic;
  margin-bottom: 1rem;
}

.reviewLinksContainer {
  display: flex;
  flex-direction: column;
}

.reviewLinks {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  border-radius: 5px;
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.reviewLinks:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .reviewLinksContainer,
  .reviewLinks {
    width: 100%;
  }
  .reviewLinks {
    background-color: var(--wildGold);
  }
}
