.tattooSizeContainer {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.label {
  font-size: 16px;;
  font-weight: bold;
  color: var(--wildBlack);
}

.error {
  display: inline-block;
  background-color: var(--wildGold);
  border-radius: 5px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.form {
  font-size: 16px;
  border: 1px solid var(--wildBlack);
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 586px) {
  .tattooSizeContainer {
    width: 100%;
  }
}
