.tattoos {
  position: relative;
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
}

.header {
  display: flex;
  justify-content: center;
  width: 480px;
}

.tattooHeader {
  margin: 2rem 0rem 4rem 0rem;
  font-weight: normal;
  color: white;
  font-size: 50px;
  font-weight:800;
  -webkit-text-stroke: 2px var(--wildDarkGreen);
  letter-spacing: 2px;
  z-index: 10;
}

.artistHeader {
  font-size: 30px;
  font-weight: normal;
}

.artistLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistLink {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.artistLink:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .artistLinksContainer,
  .artistLink {
    width: 100%;
  }
  .artistLink {
    background-color: var(--wildGold);
  }
  .header {
    width: 100%;
  }
}
