.tattoos {
    color: var(--wildGreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .tattooHeader,
  .artistHeader {
    font-weight: bold;
  }
  
  .artistHeader {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--wildGreen);
  }
  
  .shopMiddleParagraphs {
    max-width: 480px;
  }
  
  .shopMiddleParagraphs {
    color: black;
    margin-bottom: 1rem;
    text-align: justify;
  }
  
  .bottomParagraph {
    margin-bottom: 0;
  }

  .unorderedList {
    display: flex;
    flex-direction: row;
    margin: 0rem;
    padding: 0;
    list-style-type: none;
  }
  
  .missionItem {
    color: black;
    font-size: 18px;
    font-style: italic;
    padding: 0rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--wildGreen);
  }
  
  .artistLinksContainer {
    display: flex;
    flex-direction: column;
  }
  
  .artistLink {
    margin: .5rem 0rem .5rem 0rem;
    padding: 0rem;
    text-align: center;
    text-decoration: none;
    color: var(--wildGreen);
    border-radius: 5px;
    border: 2px solid var(--wildGreen);
    width: 300px;
    height: auto;
  }
  
  @media (max-width: 586px) {
    .tattoos {
      margin: 1rem;
    }
  }