.tattoos {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
}

.tattooHeader,
.artistHeader {
  font-size: 30px;
  font-weight: normal;
}

.unorderedList {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid var(--wildGreen);
}

.missionItem {
  color: var(--wildBlack);
  font-size: 18px;
  font-style: italic;
  padding: 0rem 1rem 0.5rem 1rem;
}

.shopMiddleParagraphs {
  max-width: 480px;
  color: var(--wildBlack);
  margin-bottom: 1rem;
  text-align: justify;
}

.bottomParagraph {
  margin-bottom: 0;
}

.artistHeader {
  margin: 1rem 0rem 1rem 0rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--wildGreen);
}

.artistLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistLink {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildBlack);
  border-radius: 5px;
  background-color: var(--wildGoldTrans);
  width: 300px;
  transition: background-color 0.3s ease;
}

.artistLink:hover {
  background-color: var(--wildGold);
}

.linkHeader {
  font-weight: normal;
}

@media (max-width: 586px) {
  .artistLinksContainer,
  .artistLink {
    width: 100%;
  }
}
