* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

html,body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-style: normal;

  --wildBlue: rgb(178, 224, 237);
  --wildBackground: rgb(226, 209, 189);
  --wildGreen: rgb(124, 155, 63);
  --wildDarkGreen: rgba(56, 70, 28, 1);
  --wildDarkGreenTrans: rgba(56, 70, 28, 0.3);
  --wildBlack: rgba(73, 69, 69, 1);
  --wildGold: rgba(226, 226, 54, 1);
  --wildGoldTrans: #efef58;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

#iconButton,
#popUpButton {
  color: var(--wildGreen);
  display: flex;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(229, 223, 223);
  cursor: pointer;
  transition: border 0.1s;
}

#popUpButton {
  font-size: 20px;
  padding: 5px;
}

button:hover {
  background-color: rgba(101, 193, 220, 0.2);
}

#checkout {
  width: 100vw;
}
