#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--wildGreen);
}

#footerHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footerLogo {
  max-width: 200px;
  height: auto;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#footerIcons {
  display: flex;
}

.contactInfo {
  color: black;
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}

.contactInfo a:link,
.contactInfo a:visited {
  color: black;
  margin: 1rem;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.contactInfoValue {
  margin-left: 1rem;
}

#address {
  margin: 0rem;
  text-align: center;
}

.hoursContainer {
  display: flex;
  flex-direction: row;
}

#hour {
  margin: 0rem 1rem 0rem 1rem;
}

.hours {
  display: flex;
  flex-direction: column;
}

.times {
  color: black;
  margin: 0rem 1rem 0rem 1rem;
}

#timesTop {
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

#phone {
  margin-left: 1rem;
}

#email {
  margin-left: 1.5rem;
}

.footerItem,
.footerItem a:link,
.footerItem a:visited,
#footerHeaderConatiner a:link,
#footerHeaderContainer a:visited {
  color: white;
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
}

#footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerIcon,
.footerIcon a:link,
.footerIcon a:visited {
  color: black;
  font-size: 30px;
  padding: 0.5rem 1rem 0rem 1rem;
}

#footerTag, #logoTag {
  color: black;
  margin-bottom: 1rem;
}

#logoTag {
  margin-bottom: 0rem;
}
