#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 999;
  background: linear-gradient(var(--wildGreen), rgb(180, 209, 121));
}

#navLogo {
  max-width: 350px;
  height: auto;
  margin: 1rem 0rem 1rem 8rem;
  filter: drop-shadow(4px 1px 1px var(--wildDarkGreen));
}

#navRight {
  margin-top: 1rem;
  align-items: center;
}

#contactContainer {
  text-decoration: none;
}

#contactButton {
  font-size: 20px;
  font-weight: bold;
  color: var(--wildBlack);
  background-color: white;
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  border-radius: 0px;
  transform: rotate(3deg);
  cursor: pointer;
}

/* hamburger */

#hamMenuContainer {
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.5rem 0rem 0rem 1.5rem;
  width: 45.5px;
  height: 45.5px;
  transition: all 0.5s ease-in-out;
}

.menuButtonBurger {
  position: relative;
  width: 25px;
  height: 3px;
  background: var(--wildBlack);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: block;
  cursor: pointer;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--wildBlack);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  top: 10px;
  left: 0px;
}

.menuButtonBurger::after {
  top: -10px;
}

.menuButtonBurger::before {
  transform: translateY(-16px);
}

.menuButtonBurger::after {
  transform: translateY(16px);
}

/* animation */

.menuButtonBurger.open {
  background: transparent;
}

.menuButtonBurger.open::before {
  transform: rotate(-45deg) translate(0, 0);
  top: 0;
}

.menuButtonBurger.open::after {
  transform: rotate(45deg) translate(0, 0);
  top: 0;
}

/* menu */

.menu {
  padding-bottom: 0rem;
  background-color: white;
  display: none;
  z-index: 1000;
  border-bottom: solid 1px var(--wildGreen);
}

.menu.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContainer {
  display: flex;
  justify-content: left;
  text-decoration: none;
}

#aboutItem {
  margin-left: 1rem;
}

#giftCards {
  margin-right: 1rem;
}
.navItem,
#aboutItem,
#tattooItem {
  list-style-type: none;
}

.navItem a,
#aboutItem a,
#tattooItem a {
  align-items: center;
  font-size: 16px;
}

.navItem a:link,
.navItem a:visited,
#aboutItem a:link,
#aboutItem a:visited,
#tattooItem a:link,
#tattooItem a:visited {
  color: var(--wildGreen);
}

#tattooItem {
  position: relative;
}

.linkIcon {
  font-size: 25px;
  margin-right: 0rem;
}

.link {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem;
  transition: background-color 0.5s ease;
  font-weight: 400;
  margin: 1rem 0rem 1rem 0.5rem;
}

#aboutUs,
#tats {
  position: relative;
  margin-right: 0.5rem;
}

#aboutItem,
#tattooItem {
  display: flex;
  align-items: center;
}

#dropIcon {
  display: flex;
  font-size: 20px;
  border: 1px solid var(--wildGreen);
  border-radius: 4px;
}

.drop {
  position: absolute;
  background-color: white;
  display: none;
  z-index: 1000;
  border: 1px solid var(--wildGreen);
  border-radius: 5px;
}

.droptats {
  position: absolute;
  display: none;
  z-index: 1000;
  border: 1px solid var(--wildGreen);
  border-radius: 5px;
  background-color: white;
}

.drop.active,
.droptats.active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin: 10rem;
}

.drop.active {
  position: absolute;
  margin-top: 0rem;
  margin-left: 4rem;
}

.droptats.active {
  position: absolute;
  margin-top: 2.3rem;
  margin-left: -8rem;
}

.dropLink {
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: background-color 0.5s ease;
}

.link:hover {
  color: black;
  font-weight: normal;
  background-color: var(--wildGold);
}

.dropLink:hover {
  background-color: var(--wildGoldTrans);
}

#dropLinkTop,
#dropLinkMiddle {
  margin-bottom: 0;
}

.dropLinkName {
  color: var(--wildBlack);
  font-weight: normal;
  margin-right: 0.5rem;
}

@media (max-width: 800px) {
  #nav {
    padding-bottom: 0rem;
  }
  #navLogo {
    max-width: 250px;
    padding-right: .5rem;
    margin: 1rem 2rem 0.5rem 0rem;
  }
  #contactContainer {
    display: none;
  }
  .menu {
    margin: 0rem 1rem 0rem 1rem;
    padding: 0rem;
  }
  .menu.active {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none;
  }
  #aboutItem {
    margin-left: 0rem;
  }
  .navItem a,
  #aboutItem,
  #tattooItem {
    border-bottom: 1px solid var(--wildGreen);
  }
  .link {
    opacity: 1;
  }
  .drop.active {
    position: absolute;
    margin: -19rem 0rem 0rem 4rem;
  }

  .droptats.active {
    position: absolute;
    margin: -.6rem 0rem 0rem .5rem;
  }
  .dropLink {
    padding: 1rem;
    margin: 0;
  }
  #hamMenuContainer {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
  }
}

@media (min-width: 2000px) {
  #hamMenuContainer {
    width: 50px;
    height: 50px;
  }
}
