#nav {
  z-index: 999;
  background: linear-gradient(var(--wildGreen), rgb(180, 209, 121));
}

#navLogo {
  max-width: 350px;
  height: auto;
  margin: 1rem 0rem 1rem 0rem;
  filter: drop-shadow(4px 1px 1px var(--wildDarkGreen));
}

#navRight {
  margin-left: auto; /* Pushes the contact button to the right */
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: block;
  align-items: center;
}

#navLeft {
  margin-left: auto; /* Pushes the contact button to the right */
  margin-right: 0rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  display: none;
}

.navelements {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.contactHomeButton {
  display: none;
}

#contactContainer {
  text-decoration: none;
}

.menuButtonBurger, #hamMenuContainer, .open {
  display: none;
}

.contactButton {
  font-size: 20px;
  font-weight: bold;
  color: var(--wildBlack);
  background-color: white;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 0px;
  transform: rotate(3deg);
  cursor: pointer;
}

.contactButton:hover {
  background-color: white;
}

/* menu */

.menuDesktop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0rem;
  background-color: white;
  z-index: 1000;
  background-color: rgb(248, 244, 244);
  border-bottom: solid 1px var(--wildGreen);
}

.menu {
  display: none;
}

.navContainer {
  display: flex;
  justify-content: left;
  text-decoration: none;
}

#aboutItem {
  margin-left: 1rem;
}

.subCategory {
 margin-left: 1rem;
  display: none;
}

.subLink {
  text-decoration: none;
}

.subItemAbout:hover, .subItem:hover {
  color: var(--wildDarkGreen);
  background-color: var(--wildGoldTrans);
}

.subItem, .subItemAbout {
  color: var(--wildDarkGreen);
  padding: .5rem;
  margin-left: .5rem;
  margin-bottom: 1rem;
}

#giftCards {
  margin-right: 1rem;
}
.navItem {
  list-style-type: none;
}

#tattooItem:hover .subCategory, #aboutItem:hover .subCategory {
  display: block;
}

.navItem a:link,
.navItem a:visited,
#aboutItem a:link,
#aboutItem a:visited,
#tattooItem a:link,
#tattooItem a:visited {
  color: var(--wildGreen);
}

.linkIcon {
  font-size: 25px;
  margin-right: 0rem;
}

.link {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.5s ease;
  font-weight: 400;
  margin: .5rem 0rem .5rem 0.5rem;
}

#aboutItem,
#tattooItem {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.link:hover {
  color: black;
  font-weight: normal;
  background-color: var(--wildGold);
}

@media (max-width: 800px) {
  #nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0rem;
    
  }
  #navLogo {
    max-width: 200px;
    padding-right: .5rem;
    margin: 1rem 1rem 0.5rem 5rem;
  }
  #contactContainer {
    display: none;
  }
  .contactHomeButton {
    font-size: 20px;
    font-weight: bold;
    color: var(--wildBlack);
    background-color: white;
    padding: .5rem;
    margin-top: 1rem;
    cursor: pointer;
    margin: 1rem;
    width: 90%;
    display: block;
    text-decoration: none;
  }

  /* hamburger */

#hamMenuContainer {
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.5rem 1rem 1.5rem 0rem;
  width: 45.5px;
  height: 45.5px;
  transition: all 0.5s ease-in-out;
}

.menuButtonBurger {
  position: relative;
  width: 25px;
  height: 3px;
  background: var(--wildBlack);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: block;
  cursor: pointer;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--wildBlack);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  top: 10px;
  left: 0px;
}

.menuButtonBurger::after {
  top: -10px;
}

.menuButtonBurger::before {
  transform: translateY(-16px);
}

.menuButtonBurger::after {
  transform: translateY(16px);
}

/* animation */

.menuButtonBurger.open {
  background: transparent;
}

.menuButtonBurger.open::before {
  transform: rotate(-45deg) translate(0, 0);
  top: 0;
}

.menuButtonBurger.open::after {
  transform: rotate(45deg) translate(0, 0);
  top: 0;
}
  .menu {
    margin: 0rem;
    padding: 0rem;
    background-color: rgb(248, 244, 244);
  }
  .menu.active {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none;
  }

  .menuDesktop {
    display: none;
  }
  
  #aboutItem, #tattooItem {
    display: flex;
    flex-direction: column;
   
    margin-left: 0rem;
  }
  .navItem a,
  #aboutItem,
  #tattooItem {
    border-bottom: 1px solid var(--wildGreen);
  }
  .subItemAbout, .subItem {
    
    border-top: 1px solid lightgrey;
  }
  .link {
    opacity: 1;
  }
  .subSection {
    margin-left: 0rem;
  }
  .subCategory {
    display: block;
  }
  .subItem, .subItemAbout {
    color: var(--wildDarkGreen);
    padding: 1rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
  }

  #subItemBottom {
    margin-bottom: .5rem;
  }
 
  #hamMenuContainer {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
  }
}

@media (min-width: 2000px) {
  #hamMenuContainer {
    width: 50px;
    height: 50px;
  }
}

